﻿@{
    ViewBag.Title = "О программе";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        Данная программа является тестовым заданием. Реализован функционал:
    </p>
    <p>
        -Отображение списка сотрудников фирмы
    </p>
    <p>
        -Добавление сотрудника
    </p>
    <p>
        -Удаление сотрудника
    </p>
    <p>
        -Изменение данных сотрудника
    </p>


</article>

