﻿@{
    ViewBag.Title = "Домашняя страница";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Это тестовое задание позволяет работать со списком работников предприятия 
            </p>
        </div>
    </section>
}
<h3></h3>
<ol class="round">
    <li class="one">
        <h5>Приступая к работе</h5>
        Что бы начать работу со списком сотрудников перейдите по ссылке: 
        <li>@Html.ActionLink("Список сотрудников", "", "Employee")</li>
    </li>
</ol>
